@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #1E5128;

}
#bookdropmenu {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}
#bookdropmenu:hover {
    width: 50px;
    height: 40px;
    border: none;
    background: none;
}
.PLRPG {
    /* PLRPG */
    position: absolute;
    width: 800px;
    height: 600px;
    left: calc(50% - 800px/2);
    top: calc(50% - 600px/2);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-style: solid;
    border-color: #4e9f3d;
}



#status {
    /* Status */
    position: absolute;
    width: 400px;
    height: 200px;
    left: 0px;
    top: 0px;
    background: #191A19;
}

#status h1 {
    font-size: 18px;
    text-align: center;
    font-family: 'Fira Code';
    color: #D8E9A8;
    margin-top: 20px;
}

.statuslabel {
    display: inline-block;
 }
.statusinput {
    margin-top: 3px;
    background-color: #191A19;
    color: white;
    text-align: center;
    width: 80px;
    border: none;
    outline: none;
    resize: horizontal;
}

.statusinput::placeholder {
    text-align: center;
    color: gray;
    opacity: 0.1;
}

.statusinput:hover {
    border-radius: 20px;
    outline: none;
    height: auto;
    width: 80px;
    background-color: #1c1c1c;
}

.statusvalue {
    width: 105px;
    text-align: center;
    outline: none;
    border: none;
}

#inventory {
    /* Inventário */
    position: absolute;
    width: 400px;
    height: 400px;
    left: 0px;
    top: 200px;
    background: #191A19;
}

#dados {
    /* Dados */
    width: 400px;
    height: 200px;
    left: 400px;
    top: 0px;
    background: #191A19;
    position: absolute;
    text-align: center;
}

.dadosA {
    margin-top: 40px;
}

#dados h1 {
    font-size: 18px;
    text-align: center;
    font-family: 'Fira Code';
    color: #D8E9A8;
    margin-top: 20px;
} 

.button3 {
    /* Button */
    font-size: 20px;
    background-color: #4E9F3D;
    color: #fff;
    border-radius: 8px;
    padding: 0.25em 0.40em;
    min-width: 10ch;
    min-height: 44px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button3:hover {
    background: linear-gradient(#222222 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.5s, background-position 0s;
}

.button3:active {
    background-color: #399228;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#resultadoDados {
    font-size: 20px;
    width: 35px;
    height: auto;
    border-radius: 7px;
    margin-top: 20px;
    text-align: center;
    background-color: #1c1c1c;
    border: 0;
    color: white;
    outline: none;
    padding: 7px;
    
}



#texto {
    /* Text Area */
    position: absolute;
    width: 400px;
    height: 300px;
    left: 400px;
    top: 200px;
    background: #191A19;
    text-align: center;
}
#textox {
    width: 350px;
    height: 250px;
    background-color: #1c1c1c;
    border-style: solid;
    border-color: #4E9F3D;
    color: white;
    resize: none;
    outline: none;
}

#texto h1 {
    font-size: 17px;
    text-align: center;
    font-family: 'Fira Code';
    color: #D8E9A8;
}

#historico {
    /* Histórico */
    position: absolute;
    width: 400px;
    height: 100px;
    left: 400px;
    top: 500px;
    background: #191A19;
}